/* memo : 각종 버튼 색 #ff9f86 > #fe5171 */
* {
    margin : 0;
    padding : 0;
	box-sizing : border-box;
}
ul {
    list-style: none;
}
a:link, a:visited {
    color: #203056;
    font-weight : bold;
    text-decoration: none;
}
a:hover, a:focus {
    color: #e24545;
    font-weight : bold;
    text-decoration: none;
}
/* memo: nav는 798892 > 1f2325 */
#wrapper {
	width : 100%;
    margin : 0 auto;
}
.contentWrap {
	width : 1140px;
	margin : 0 auto;
}
body {
	color : #8f9bab;
	background-color : #fff;
	font-size : 16px;  /* 부모나 기준 없을 땐 16px 기준 */
	line-height : 1.6;  /* 160% */
	font-family : Poppins, sans-serif;
}
/* memo: 이미지 볼록~ 커지는 건 다 css에 넣어보자  */

/* header */
header {
	height : 118px;
	border : 1px dashed red;
}
.headerWrap {
	width : 1140px;
	height : 38px;
	margin : 0 auto;
	margin-top : 40px;
	position : relative;
	border : 1px dashed blue;
}
/* header logo */
.logo {
	position : absolute;
	top : -3px;
	left : 10px;
}
/* serch and burger(etcIcon) */
.etcIcon {
	position : absolute;
	top : 0px;
	right : 10px;
}
/* 질문 : 저도 원본처럼 버튼 호버하면 스르륵 스륵 하고 싶어요... << 꿈도 꾸지 마라 아직 */
.etcIcon li {
	width : 24px;
	height : 24px;
	display : inline-block;
	padding : 6px;
	box-sizing : content-box;
	border-radius : 24px;
	transition : all 0.5s ease-out;
	background : linear-gradient(to bottom, #ff9f86 0%, #ff9f86 24%, #fe5171 100%);
}
.etcIcon li:hover {
	background : linear-gradient(to bottom, #fe5171 0%, #fe5171 60%, #ff9f86 100%);
}
.etcIcon li:first-child {
	margin-right : 20px;
}
.etcIcon a {
	display : block;
}
/* Header SNS */
.topSns {
	position : absolute;
	top : 5px;
	right : 140px;
}
.sns > li {
	display : inline-block;
}
/* GNB */
.mainMenu {
	position : absolute;
	top : 1px;
	left : 180px;
}
.mainMenu > li {
	display : inline-block;
	position : relative;
}
/* 질문 : 아이콘이 안 보여요... */
.thereIsMore:after {
	content : "";
	position : absolute;
	width : 10px;
	height : 10px;
	border : 1px dashed red;
	background : url(../images/download.png) no-repeat;
	background-size : 10px 10px;
	background-position : center top;
	margin-left : -20px;
}
.mainMenu a {
	color: #798892;
    font-weight : normal;
    text-decoration: none;
	font-size : 0.8em;
}
.mainMenu > li > a:link, .mainMenu > li > a:visited {
	color: #798892;
    font-weight : normal;
    text-decoration: none;
	font-size : 0.9em;
}
.mainMenu > li > a:hover, .mainMenu > li > a:focus {
	color: #1f2325;
    font-weight : normal;
    text-decoration: none;
	font-size : 0.9em;
}
.mainMenu > li > a {
	border : 1px dashed red;
	display : inline-block;
	padding : 4px 20px;
	border-radius : 20px;
}
.mainMenu > li > a:active {
	background : linear-gradient(to left, #ff9f86 0%, #ff9f86 24%, #fe5171 100%);
	color : #fff;
}
/* 질문 : 메인메인메뉴 수평 어케 맞추고.. 아래 메뉴들은 어떻게 해야ㅠㅠㅠ */
.aboutHome, .aboutFeatures, .aboutShop  { text-indent : 20px; position : absolute; }



/* tag 버튼들 */
.tag {
	padding : 4px 10px;
	border: none;
	cursor : pointer;
	border-radius : 12px;
	background : linear-gradient(to left, #ff9f86 0%, #ff9f86 24%, #fe5171 100%);
	color : #fff;
	font-weight : normal;
}
.tag:hover {
	background : linear-gradient(to left, #fe5171 0%, #fe5171 60%, #ff9f86 100%);
}



/* topSection */
#topSection {
	height : 533px;
	border : 1px dashed blue;
	margin-bottom : 50px;
}

/* topSection left */
.mainPost {
	width : 740px;
	height : 533px;
	position : relative;
	float : left;
	border-radius : 10px;
	box-shadow : 10px 10px 3px #rgba(0,0,0,1);
	background-color : rgba(0,10,30,0.5);
}
/* 질문 : img에 hover 시 볼~록 커지는 거 어떻게 하나요.. << 틀은 overflow hidden, 이미지만 키운다 */
.mainPost > img {
	position : absolute;
	border-radius : 10px;
	z-index : -100;
}
.mainPost > button {
	position : absolute;
	left : 50px;
	top : 300px;
}
.mainPost > h2 {
	position : absolute;
	left : 50px;
	top : 350px;
	font-size : 32px;
	color : #fff;
}
.mainPost p {
	position : absolute;
	left : 50px;
	font-size : 0.9em;
	top : 460px;
}
.mainPost p a:link, .mainPost p a:visited {
	color : #8f9bab;
	font-weight : normal;
}
.mainPost p a:hover, .mainPost p a:focus {
	color: #e24545;
}
.mainPost p:last-child {
	left : 160px;
}

/* topSection right */
.subPost {
	box-sizing : border-box;
	width : 360px;
	float : right;
	padding : 40px;
	border : 1px dashed red;
}
.subPost {}



.smallPost > h3 {
	font-size : 0.9em;
}