@charset "utf-8";
.hidden {
	position : absolute;
	left : -9999em;  /* 아니면 display : none; */
}

/* 웹폰트 */
@font-face {
    font-family:'Nanum';
    font-weight:400;
    src: url('font/NanumGothic.eot');
    src: url('font/NanumGothic.eot?#iefix') format('embedded-opentype'),
         url('font/NanumGothic.woff') format('woff'),
		 url('font/NanumGothic.ttf') format('truetype');
}
@font-face {
    font-family:'NanumBold';
    font-weight:600;
    src: url('font/NanumGothicBold.eot');
    src: url('font/NanumGothicBold.eot?#iefix') format('embedded-opentype'),
         url('font/NanumGothicBold.woff') format('woff'),
		 url('font/NanumGothicBold.ttf') format('truetype');
}
@font-face {
    font-family:'NanumEX';
    font-weight:900;
    src: url('font/NanumGothicExtraBold.eot');
    src: url('font/NanumGothicExtraBold.eot?#iefix') format('embedded-opentype'),
         url('font/NanumGothicExtraBold.woff') format('woff'),
		 url('font/NanumGothicExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'webcafeIcon';
    font-weight:400;
    src: url('font/webcafeIcon.eot');
    src: url('font/webcafeIcon.eot?#iefix') format('embedded-opentype'),
         url('font/webcafeIcon.woff') format('woff'),
         url('font/webcafeIcon.ttf') format('truetype'),
         url('font/webcafeIcon.svg#webcaferegular') format('svg');
}
/* 초기화(기본 사항) */
* {
	margin : 0;
	padding : 0;
}
ul { list-style : none; }
/* 링크 스타일 */
a:link {
	color : #4f4f4f;
	text-decoration : none;
}
a:visited {
	color : #8a8e91;
	text-decoration : none;
}
a:hover, a:focus {
	color : #f00;
	text-decoration : none;
}
/* 기본 스타일 */
body {
	color : #000;
	background-color : #fff;
	font-size : 0.75em;  /* 부모나 기준 없을 땐 16px 기준 */
	line-height : 1.2;  /* 120% */
	font-family : nanum;
}
/* 건너뛰기 링크 */
#skipNav {
	position : absolute;
	left : -9999em;
}
#skipNav:focus {  /* tab 눌러서 얘가 선택되면 */
	left : 50%;
	margin : 3px 0 0 -3em;  /* em은 한 글자 */
	padding : 5px 15px;
	color : #fff;
	background-color : #000;
	outline : 0;  /* 포커스 됐을 때 선 안 진해지게 하기 */
	z-index : 10;
}
/* 전체 레이아웃 */
#wrapper {
	background-color : #fff;
	background-image : url(images/bg_flower.png), linear-gradient(to bottom, #c7c7c7 0%, #fff 100%);
	background-repeat : no-repeat;
	background-position : center top;
}
#header, #visual, #contentsArea, #slogan, #footerInner {
	width : 940px;
	margin : 0 auto;
	box-sizing : border-box;
}
#header {
	height : 110px;
	background-color : #fff;
	padding : 0 30px;
	border-radius : 0 0 15px 15px;
	position : relative;
}
#visual {
	height : 120px;
	position : relative;
}
#contentsArea {
	min-height : 400px;  /* 최소 높이. 콘텐츠에 따라 더 커질 수 있음! */
	padding : 30px 30px 0 30px;
	background-color : #fff;
	border-radius : 15px 15px 0 0;
	overflow : hidden;
}
#usefulArea {
	width : 250px;
	float : left;
	margin-right : 30px;
}
#infoArea {
	width : 380px;
	float : left;
	margin-right : 30px;
}
#linkArea {
	width : 190px;
	float : left;
}
#slogan {
	padding : 15px 0;
	position : relative;
}
#footer {
	padding : 15px 0;
	background-image : linear-gradient(to bottom, #c7c7c7 0%, #fff 70%, #fff 100%);
}
#footerInner {
	position : relative;
}
/* 헤더 영역 */
.logo {
	position : absolute;
	top : 35px;
	left : 60px;
}
.infoLink {
	text-align : right;
}
.infoLink li {
	display : inline-block;
	padding : 8px 0 7px 3px;
}
.infoLink li:before {
	content : ":";
	padding-right : 8px;
}
.infoLink li:first-child:before {
	content : "";
}
/* 메인 메뉴 */
.mainMenu {
	border-top : 2px solid #000;
	background-image : linear-gradient(to bottom, #ffc848 0%, #ff8208 40%, #ff8208 60%, #ffc848 100%);
	border-radius : 0 0 5px 5px;
	height : 45px;
	padding-left : 225px;
}
.mainMenu li, .mainMenu a {
	display : inline-block;
}
.mainMenu > li > a {
	font-family : NanumEX;
	font-size : 14px;
	letter-spacing : 1px;
	padding : 15px 20px 14px;
	color : #fff;
	text-shadow : 1px 0px rgba(0,0,0,0.2), -1px 0px rgba(0,0,0,0.2), 0px 1px rgba(0,0,0,0.2);
}
.mainMenu > li > a:hover, .mainMenu > li > a:focus {
	color : #ff0;
}
.mainMenu > li > a:hover:after {
	content : "";
	display : block;  /* 인라인 요소에는 width 못 주므로 */
	width : 100%;
	height : 2px;
	background : #000;
	position : relative;
	top : 12px;
}
.mainMenu > li {
	position : relative;
}
.mainMenu ul {
	position : absolute;
	white-space : nowrap;  /* 글씨가 가로로 다 들어가지 못할 때, 아래 줄로 떨어지지 않게 함! 기본은 wrap(떨어짐) */
	z-index : 10; /* 배너 등에 안 가려지게 하기 위해 */
	display : none;
}
.mainMenu ul a {
	padding : 8px 0 7px 15px;
}
.mainMenu ul a:before {
	font-family : webcafeIcon;
	content : "r";
	color : #666;
	position : relative;
	top : 2px;
}
.mainMenu ul a:hover:before, .mainMenu ul a:focus:before {
	content : "c";
	color : #f00;
}
/* 비주얼 영역 */
/* 비주얼 텍스트 */
@keyframes textAni {
	0% {
		font-size : 12px;
		top : 0px;
		left : 0px;
		opacity : 0.2;
	}
	100% {
		font-size : 24px;
		top : 75px;
		left : 400px;
		opacity : 1;
	}
}
#visual p {
	font-family : Georgia, serif;
	font-size : 24px;
	font-weight : bold;
	position : absolute;
	top : 75px;
	left : 400px;
	animation : textAni 1s;
}
/* flower 애니메이션 */
@keyframes flowerAni {
	0% {
		opacity : 1;
	}
	100% {
		opacity : 0;
	}
}
#visual:before, #visual:after {
	width : 100%;
	height : 140px;
	position : absolute;  /* before..은 inline 요소라 너비높이 못 주는 게 기본이지만, absolute 주면서 붕 떠서 너비높이 지정이 가능하게 됨! */
	top : -20px;
	left : 0;
	content : "";
	animation : flowerAni 2s;
	animation-iteration-count : infinite;
	animation-direction : alternate;
}
#visual:before {
	background-image : url(images/ani_flower_01.png), url(images/ani_flower_02.png);
	background-repeat : no-repeat;
	background-position : 0 5px, 670px 0;
}