* {
	margin : 0;
	padding : 0;
	box-sizing : border-box;
}
body {
	color : #333;
	background-color : #fff;
}
a {
	color : #333;
	text-decoration : none;
}
ul { list-style : none; }
/* wrapper 좌우 배치 */
#wrapper {
	display : flex;
}
header {
	width : 200px;
}
.contents {
	width : 400px;
}
.imgslide {
	width : calc(100% - 600px);
}
/* header 영역 */
header h1 {
	width : 200px;
	height : 100px;
}
header h1 img {
	margin : 27px 0 0 5px;
}
.menu {
	width : 180px;
	margin-top : 10px;
	margin-left : 10px;
}
.navi > li {
	position : relative;
}
.navi > li > a {
	display : block;
	width : 180px;
	height : 40px;
	line-height : 40px;
	font-weight : bold;
	background-color : #0066ad;
	color : #fff;
	padding-left : 5px;
}
.navi > li > a:hover {
	background-color : #30a3f3;
}
.submenu {
	position : absolute;
	top : 0;
	left : 180px;
	display : none;
}
.submenu > li > a {
	display : block;
	width : 180px;
	height : 35px;
	line-height : 35px;
	text-align : center;
	font-weight : bold;
	background-color : #ababab;
	color : #fff;
}
.submenu > li > a:hover {
	background-color : #30a3f3;
}
/* 콘텐츠 영역 */
.banner {
	height : 120px;
}
.notice {
	height : 250px;
}
.notice div { margin-top : 20px; }
.notice div h4 {
	width : 100px;
	height : 30px;
	line-height : 30px;
	text-align : center;
	background-color : #ccc;
	margin-left : 5px;
}
.notice ul {
	width : 390px;
	border : 1px solid #ccc;
	margin-left : 5px;
	padding : 5px 0;
}
.notice li {
	height : 40px;
	line-height : 40px;
	margin : 0 10px;
	border-bottom : 1px solid #ccc;
}
.notice li:last-child {
	border-bottom : none;
}
.notice li a { font-size : 14px; }
.notice li a span { float : right; }
/* 갤러리 영역 */
.gallery {
	height : 250px;
}
.gallery div {
	margin-top : 20px;
}
.gallery div h4 {
	width : 100px;
	height : 30px;
	line-height : 30px;
	text-align : center;
	background-color : #ccc;
	margin-left : 5px;
}
.gallery ul {
	width : 390px;
	margin-left : 5px;
	border : 1px solid #ccc;
	padding-top : 10px;
	display : flex;
}
.gallery ul li { width : 50%; }
.gallery ul li a {
	display : block;
	text-align : center;
}
.gallery ul li a img {
	width : 95%;
	border : 1px solid #ccc;
}
.gallery ul li a span {
	font-size : 14px;
}
/* 바로가기 영역 */
.shortcut {
	height : 150px;
}
.shortcut ul {
	width : 390px;
	margin-left : 5px;
	display : flex;
}
.shortcut ul li {
	width : 25%;
}
.shortcut ul li a {
	display : block;
	text-align : center;
	margin-right : 4px;
}
.shortcut ul li:last-child a {
	margin-right : 0;
}
.shortcut ul li a img {
	width : 100%;
	border : 1px solid #ccc;
}
.shortcut ul li a span {
	font-size : 13px;
}
/* 이미지 슬라이드 영역 */
.imgslide {
	height : 770px;
	overflow : hidden;
}
.slidelist {
	height : 770px;
}
.slidelist a {
	display : block;
	width : 100%;
	height : 770px;
	float : left;
	position : relative;
}
.image1 {
	background : url(../images/slide1.jpg) no-repeat center;
	background-size : cover;
}
.image2 {
	background : url(../images/slide2.jpg) no-repeat center;
	background-size : cover;
}
.image3 {
	background : url(../images/slide3.jpg) no-repeat center;
	background-size : cover;
}
.imgtext {
	width : 500px;
	height : 50px;
	background-color : rgba(40,40,40,0.6);
	text-align : center;
	line-height : 50px;
	color : #fff;
	font-weight : bold;
	position : absolute;
	top : 50%;
	left : 50%;
	margin : -25px 0 0 -250px;
}
/* 푸터 영역 */
footer {
	height : 120px;
	display : flex;
}
.btlogo { width : 200px; }
.familysite {
	width : 300px;
	height : 120px;
}
.btsite {
	width : calc(100% - 500px);
	height : 120px;
}
.btlogo img {
	margin : 47px 0 0 5px;
}
.btmenu {
	height : 60px;
	text-align : center;
}
.btmenu ul {
	margin-top : 20px;
}
.btmenu ul li {
	display : inline-block;
	margin : 0 15px;
}
.copy {
	height : 60px;
	text-align : center;
	line-height : 60px;
}
.familysite select {
	width : 250px;
	height : 30px;
	float : right;
	margin-top : 45px;
	margin-right : 10px;
}
/* 레이어 팝업 영역 */
#modal {
	width : 100%;
	height : 100%;
	position : absolute;
	top : 0;
	left : 0;
	background : rgba(0,0,0,0.6);
	z-index : 10;
	display : none;
}
#modal.active { display : block; }
.modal_up {
	width : 550px;
	height : 400px;
	position : fixed;
	top : 20%;
	left : 40%;
	background-color : #fff;
}
.uptitle {
	margin-top : 40px;
	font-size : 20px;
	font-weight : bold;
	text-align : center;
}
.upbody {
	padding : 30px;
	line-height : 40px;
	text-align : center;
}
.btn {
	width : 80px;
	height : 20px;
	line-height : 20px;
	text-align : center;
	font-size : 15px;
	font-weight : bold;
	background-color : #ccc;
	position : absolute;
	bottom : 10px;
	right : 10px;
}