* {
	margin : 0;
	padding : 0;
}
.clear {
	content : "";
	display : block;
	clear : both;
}
.box_inner {
	width : 1050px;
	margin : 0 auto;
}
body {
	font-family : "맑은 고딕", sans-serif;
	letter-spacing : -1px;
	color : #444;
}
ul { list-style : none; }
a { text-decoration : none;  color : #444; }
.skipnavi {
	position : absolute;
	text-indent : -9999px;
}
.hdd {
	position : absolute;
	top : 0;
	left : 0;
	text-indent : -9999px;
}
/* 헤더 영역 */
header {
	position : absolute;
	top : 0;
	left : 0;
	width : 100%;
	height : 113px;
	background : rgba(0,0,0,0.5);
	z-index : 100;
}
header .header_area h1 {
	float : left;
	padding-top : 45px;
}
header .header_area h1 a {
	display : block;
	width : 270px;
	height : 71px;
	text-indent : -9999px;
	background : url(../img/logo.png) no-repeat;
}
header .header_area .openMOgnb { display : none; }
.header_cont {
	float : right;
	width : 780px;
}
.header_cont .util {
	float : right;
	padding-top : 10px;
}
.header_cont .util li { display : inline-block; }
.header_cont .util li:after {
	content : "|";
	padding : 0 10px;
	font-size : 10px;
	color : #eee;
	position : relative;
	top : -2px;
}
.header_cont .util li:last-child:after {
	content : "";
	display : none;
}
.header_cont .util li a {
	font-size : 14px;
	color : #eee;
}
.header_cont .gnb {
	float : right;
	padding-top : 5px;
	box-sizing : border-box;
}
.header_cont .gnb li { float : left; }
.header_cont .gnb li a {
	display : block;
	padding : 25px 40px;
	font-size : 18px;
	color : #fff;
}
.header_cont .gnb li:last-child a {
	padding-right : 0;
}
.header_cont .closePop { display : none; }
.gnb_depth {
	position : absolute;
	left : 0;
	top : 113px;
	width : 100%;
	background : rgba(250,100,0,0.85);
	z-index : 100;
	display : none;
}
.gnb_depth .submenu_list {
	width : 1050px;
	margin : 0 auto;
	text-align : left;
}
.gnb_depth2_1 .submenu_list {
	box-sizing : border-box;
	padding-left : 480px;
}
.gnb_depth2_2 .submenu_list {
	box-sizing : border-box;
	padding-left : 600px;
}
.gnb_depth2_3 .submenu_list {
	box-sizing : border-box;
	padding-left : 730px;
}
.gnb_depth2_4 .submenu_list {
	box-sizing : border-box;
	padding-left : 940px;
}
.gnb_depth .submenu_list li a {
	display : inline-block;
	padding : 20px;
}
.gnb_depth .submenu_list li:last-child a {
	padding-right : 0;
}
/* container 영역 */
#container { padding-bottom : 70px; }
.main_rolling_mobile { display : none; }
.visualRoll {
	width : 100%;
	position : relative;
}
.viewImgList {
	width : 100%;
	position : relative;
}
.viewImgList li {
	text-align : center;
	height : 550px;
	line-height : 550px;
}
.viewImgList li.imglist0 {
	position : relative;
	z-index : 50;
	background : url(../img/mainslide01.jpg) no-repeat center;
}
.viewImgList li.imglist1 {
	position : absolute;
	width : 100%;
	top : 0;
	left : 0;
	z-index : 10;
	background : url(../img/mainslide02.jpg) no-repeat center;
}
.viewImgList li.imglist2 {
	position : absolute;
	width : 100%;
	top : 0;
	left : 0;
	z-index : 10;
	background : url(../img/mainslide03.jpg) no-repeat center;
}
.viewImgList li {
	background-size : cover !important;
}
.viewImgList li .roll_content {
	position : relative;
}
.viewImgList li .roll_content .roll_txtline {
	position : absolute;
	bottom : 60px;
	left : 0;
	width : 100%;
	line-height : 1;
	font-size : 22px;
	color : #fff;
	letter-spacing : 2px;
}
.rollbtnArea {
	position : absolute;
	width : 100%;
	left : 0;
	bottom : 25px;
	z-index : 200;
}
.rollbtnArea .rollingbtn {
	width : 320px;
	margin : 0 auto;
	text-align : center;
}
.rollbtnArea .rollingbtn li {
	display : inline-block;
	margin-right : 5px;
}
.rollbtnArea .rollingbtn li.rollplay {
	display : none;
}
/* about_area */
.about_area h2 {
	padding : 55px 0 105px;
	text-align : center;
	font-size : 40px;
}
.about_area .about_box {
	background-color : #f4f0e9;
}
.about_area .about_box:after { /* 높이 주기 */
	content : '';
	display : block;
	clear : both;
}
.about_area .place_list li {
	float : left;
	width : 32%;
	margin-right : 2%;
	text-align : center;
	position : relative;
	top : -50px;
}
.about_area .place_list li:last-child {
	margin-right : 0;
}
.about_area .place_list li .img_topplace { width : 100%; }
.about_area .place_list li h3 {
	font-weight : bold;
	font-size : 18px;
	padding-top : 25px;
	color : #000;
}
.about_area .place_list li p.txt {
	box-sizing : border-box;
	padding : 10px 30px 0;
	line-height : 1.8;
	color : #666;
}
.about_area .place_list li .view {
	display : inline-block;
	margin-top : 20px;
	border-top : 2px solid #333;
	padding-top : 5px;
	color : #666;
}
.appbbs_area { padding : 60px 0; }
.appbbs_area .appbbs_box .app_line {
	float : left;
	width : 66%;
	padding : 45px 0;
	box-sizing : border-box;
	text-align : center;
	background : url(../img/bg_app.jpg) no-repeat;
}
.appbbs_box .app_line a {
	display : inline-block;
	width : 43%;
	height : 100px;
	line-height : 100px;
	box-sizing : border-box;
	padding-left : 75px;
	text-align : left;
	background : rgba(0,0,0,0.3) url(../img/ico_katalk.png) no-repeat 20px 50%;
	border : 2px solid #fff;
	margin-right : 10px;
	color : #fff;
	font-size : 26px;
}
.appbbs_box .app_line a + a { /* +는 형제선택자! + 뒤에 있는 것들에 일괄 적용 (a가 여러 개 있었으면 여러 개에 다 적용됐을 것) */
	margin-right : 0;
	padding-left : 85px;
	background-image : url(../img/ico_phone.png);
}
.appbbs_box .bbs_line {
	width : 30%;
	float : right;
}
.appbbs_box .bbs_line h3 {
	font-size : 26px;
}
.appbbs_box .bbs_line .notice_recent {
	padding-top : 10px;
}
.appbbs_box .bbs_line .notice_recent li { padding : 8px 0; }
.appbbs_box .bbs_line .notice_recent li a {
	display : block;
	padding-left : 14px;
	background : url(../img/ico_bullet.png) no-repeat 0 50%; /* 왼쪽 딱 중앙 50% */
	white-space : nowrap;
	overflow : hidden;
	text-overflow : ellipsis;
}
.appbbs_box:after { /* 높이 주기 */
	display : block;
	content : '';
	clear : both;
}
/* quick list */
.quick_area {
	position : fixed;
	top : 170px;
	right : 0;
	width : 95px;
	z-index : 100;
}
.quick_area .quick_list li {
	text-align : center;
	background : #282828;
}
.quick_area .quick_list li a {
	display : block;
	padding : 15px 0;
	border-top : 1px solid #4d4d4d;
	font-size : 15px;
}
.quick_area .quick_list li:first-child a {
	border-top : none;
}
.quick_area .quick_list li a h3 {
	padding-bottom : 10px;
	color : #ddd;
	letter-spacing : -2px;
	font-weight : normal;
	font-size : 15px;
}
.quick_area .quick_list li:last-child a h3 {
	padding-bottom : 0;
}
.quick_area .quick_list li a h3 em { display : none; } /* '상담' 안 보이게 */
.quick_area .quick_list li a p {
	font-size : 12px;
	color : #fff;
	line-height : 1.3;
}
.to_top a {
	display : block;
	height : 45px;
	text-indent : -9999px;
	overflow : hidden; /* top 글씨 없애기 */
	border-left : 1px solid #a3a3a3;
	border-bottom : 1px solid #a3a3a3;
	background : #fff url(../img/ico_totop.png) no-repeat center;
	background-size : 50%;
}
/* footer 영역 */
footer {
	border-top : 1px solid #ddd;
}
footer .foot_area {
	position : relative;
	padding-bottom : 40px;
}
footer .foot_area .foot_list { padding-top : 25px; }
footer .foot_area .foot_list li {
	float : left;
}
footer .foot_area .foot_list li:first-child:after {
	content : "|";
	padding : 0 10px;
	font-size : 10px;
	color : #000;
	position : relative;
	top : -2px;
}
footer .foot_area .foot_list li a {
	font-weight : bold;
	font-size : 15px;
}
footer .foot_area h2 {
	padding-top : 40px;
	font-size : 14px;
	color : #666;
	font-weight : normal;
}
footer .foot_area .addr {
	padding-top : 5px;
	line-height : 1.4;
	font-size : 13px;
	color : #666;
}
footer .foot_area .addr .space0 { letter-spacing : 0; }
footer .foot_area .copy {
	padding-top : 3px;
	font-size : 13px;
	color : #666;
	letter-spacing : 0;
}
footer .foot_area .snslink {
	position : absolute;
	right : 20px;
	top : 50px;
}
footer .foot_area .snslink li {
	float : left;
	margin-left : 60px;
}
footer .foot_area .snslink li a {
	display : block;
	width : 50px;
	height : 74px;
	text-indent : -9999px;
	overflow : hidden;
	background : url(../img/ico_blog_r.png) no-repeat;
}
footer .foot_area .snslink li + li a {
	background-image : url(../img/ico_facebook_r.png);
}
footer .foot_area .snslink li + li + li a {
	background-image : url(../img/ico_instargram_r.png);
}
/* 레이어 팝업 */
.popup_base {
	position : absolute;
	top : 0;
	left : 0;
	width : 100%;
	height : 100%;
	background : rgba(0,0,0,0.7
	);
	z-index : 200;
	display : none;
}
.popup_base .pop_content {
	position : relative;
	width : 580px;
	margin : 200px auto 0;
	background-color : #fff;
	box-sizing : border-box;
}
.pop_content .btn_xpop {
	position : absolute;
	right : 0;
	top : -55px;
}
.pop_content .btn_xpop a {
	display : block;
	width : 45px;
	height : 45px;
	text-indent : -9999px;
	overflow : hidden;
	background : url(../img/btn_xpop.png) no-repeat;
}
.pop_content .pop_list li {
	padding : 36px;
	text-align : center;
}
.pop_content .pop_list li + li {
	background : #f4f0e9;
}
.pop_content .pop_list li + li + li { background : #fff; }
.pop_content .pop_list li h2.tit_pop {
	padding : 10px 0 24px;
	font-size : 30px;
	letter-spacing : -2px;
}
.pop_content .pop_list li img.pop_img {
	width : 100%;
}
.pop_content .pop_list li .pop_txt {
	padding-top : 15px;
}
.pop_content .pop_list li .pop_txt p {
	padding-top : 10px;
	line-height : 1.8;
	font-size : 17px;
	width : 95%;
	margin : 0 auto;
	letter-spacing : -2px;
}

/* 테블릿 버전 */
@media all and (max-width : 1065px) and (min-width : 801px) {
	.box_inner { width : 100%; }
	header .header_area h1 {
		padding-left : 20px;
	}
	.header_cont {
		float : right;
		width : 60%;
		padding-right : 20px;
	}
	.header_cont .gnb li a {
		padding : 25px 25px;
	}
	.gnb_depth .submenu_list {
		width : 100%;
		padding-left : 52%;
	}
	#container { padding-bottom : 20px; }
	.about_area .place_list {
		box-sizing : border-box;
		padding : 0 20px;
	}
	.appbbs_area .appbbs_box {
		box-sizing : border-box;
		padding : 0 20px;
	}
	.appbbs_box .app_line a { font-size : 18px; }
	footer .foot_area {
		box-sizing : border-box;
		padding-left : 20px;
	}
	footer .foot_area .snslink li {
		margin-left : 15px;
	}
	.quick_area .quick_list { display : none; }
	.to_top {
		position : fixed;
		right : 20px;
		bottom : 110px;
		background : none;
		z-index : 100;
	}
	.to_top a {
		display : block;
		width : 45px;
		height : 45px;
		border-left :none;
		border-bottom : none;
		background : url(../img/ico_totop_mo.png) no-repeat center;
		background-size : 45px;
	}
}
/* 모바일 버전 CSS */
@media all and (max-width : 800px) {
	.box_inner { width : 100%; } /* 안 그러면 1050 되니까 */
	header {
		height : 90px;
		text-align : center;
		z-index : 200;
		background : rgba(0,0,0,0.5);
	}
	header .header_area h1 {
		float : none;
		width : 100%;
		height : 50px;
		text-align : center;
		padding-top : 35px;
	}
	header .header_area h1 a {
		display : inline-block;
		width : 180px;
		height : 23px;
		background-size : 180px 23px;
	}
	header .header_area .openMOgnb {
		display : block;
		position : absolute;
		top : 35px;
		left : 15px;
		width : 23px;
		height : 16px;
	}
	header .header_area .openMOgnb span {
		display : block;
		width : 25px;
		height : 3px;
		background : #fff;
		margin-bottom : 4px;
		border-radius : 10px;
	}
	header .header_area .openMOgnb span + span {
		width : 17px;
	}
	header .header_area .openMOgnb span:last-child {
		width : 25px;
		margin-bottom : 0;
	}
	.header_cont  {
		float : none;
		width : 100%;
		background : #31353d;
		overflow : hidden;
		display : none;
	}
	.header_cont .util { padding : 20px; }
	.header_cont .util li { float : left; }
	.header_cont .util li:after {
		content : "|";
		display : inline-block;
		padding : 0 10px;
		font-size : 10px;
		color : #a2a2a2;
		position : relative;
		top : -2px;
	}
	.header_cont .util li:last-child:after {
		content : "";
		display : none;
	}
	.header_cont .util li a { font-size : 16px; color : #fff; }
	.header_cont .closePop {
		display : block;
		position : absolute;
		right : 0;
		top : 15px;
	}
	.header_cont .closePop a {
		display : block;
		width : 60px;
		height : 60px;
		text-indent : -9999px;
		overflow : hidden;
		background : url(../img/btn_closeMenu.png) no-repeat;
		background-size : 60px;
	}
	.header_cont .gnb {
		float : none;
		box-sizing : border-box;
		padding-top : 0;
		height : auto;
		border-top : 1px solid #83868b;
	}
	.header_cont .gnb li {
		float : left;
		width : 50%;
		text-align : left;
		box-sizing : border-box;
		border-bottom : 1px solid #83868b;
	}
	.header_cont .gnb li:nth-child(odd) {
		border-right : 1px solid #83868b;
	}
	.header_cont .gnb li a {
		display : block;
		padding : 0 0 0 65px;
		height : 60px;
		line-height : 60px;
		background : url(../img/ico_gnb01.png) no-repeat 10px center;
		background-size : 49px 56px;
		font-size : 16px;
		color : #fff;
	}
	.header_cont .gnb li + li a {
		background-image : url(../img/ico_gnb02.png);
	}
	.header_cont .gnb li + li + li a {
		background-image : url(../img/ico_gnb03.png);
	}
	.header_cont .gnb li + li + li + li a {
		background-image : url(../img/ico_gnb04.png);
	}
	.gnb_depth { display : none; }
	/* main rolling */
	.main_rolling_pc { display : none; }
	.main_rolling_mobile { display : block; }
	.main_rolling_mobile .swiper-container .swiper-wrapper .swiper-slide img {
		width : 100%;
	}
	/* about_area */
	.about_area h2 {
		padding : 27px 0 25px;
		font-size : 20px;
	}
	.about_area h2 b {
		display : block;
		margin-top : 10px;
	}
	.about_area .about_box {
		background : #fff;
	}
	.about_area .place_list li {
		float : none;
		width : 100%;
		margin : 0;
		box-sizing : border-box;
		padding : 0 20px;
		top : 0;
	}
	.about_area .place_list li p.txt {
		padding : 10px 50px 30px;
		line-height : 1.4;
	}
	.about_area .place_list li .view {
		padding-bottom : 10px;
		margin : 0 0 30px;
	}
	/* appbbs_area */
	.appbbs_area { padding : 0 20px; }
	.appbbs_box .app_line { display : none; }
	.appbbs_box .bbs_line {
		float : none;
		width : 100%;
		padding : 20px 0;
		border-top : 1px solid #d6d7d8;
	}
	.appbbs_box .bbs_line h3 {
		font-size : 19px;
	}
	/* quick_list */
	.quick_area .quick_list {
		position : fixed;
		left : 0;
		bottom : 0;
		width : 100%;
	}
	.quick_area .quick_list li {
		float : left;
		width : 31%;
		text-align : left;
		background : #3a3e46;
		font-size : 15px;
	}
	.quick_area .quick_list li + li {
		width : 37%;
	}
	.quick_area .quick_list li + li + li {
		width : 32%;
	}
	.quick_area .quick_list li:first-child:after {
		content : "";
		display : inline-block;
		width : 1px;
		height : 16px;
		background : #76787e;
		position : absolute;
		top : 50%;
		right : 31%;
		margin-top : -8px;
	}
	.quick_area .quick_list li:last-child:before {
		content : "";
		display : inline-block;
		width : 1px;
		height : 16px;
		background : #76787e;
		position : absolute;
		top : 50%;
		left : 32%;
		margin-top : -8px;
	}
	.quick_area .quick_list li a {
		display : block;
		padding : 10px 0;
		border-top : none;
		color : #fff;
	}
	.quick_area .quick_list li a h3 {
		height : 37px;
		line-height : 37px;
		padding-bottom : 0;
		padding-left : 45px;
		background : url(../img/ico_phone_mobtm.png) no-repeat 20px center;
		background-size : 20px;
		color : #fff;
		letter-spacing : -1px;
	}
	.quick_area .quick_list li + li a h3 {
		background : url(../img/ico_katalk_mobtm.png) no-repeat 20px center;
		background-size : 20px;
	}
	.quick_area .quick_list li + li + li a h3 {
		background : url(../img/ico_contact_mobtm.png) no-repeat 20px center;
		background-size : 20px;
	}
	.quick_area .quick_list li a h3 em { display : inline; font-style : normal; }
	.quick_area .quick_list li a p { display : none; }
	.to_top {
		position : fixed;
		right : 20px;
		bottom : 110px;
		text-align : center;
		background : none;
		z-index : 100;
	}
	.to_top a {
		display : block;
		width : 45px;
		height : 45px;
		border-left :none;
		border-bottom : none;
		background : url(../img/ico_totop_mo.png) no-repeat center;
		background-size : 45px;
	}
	/* footer 영역 */
	footer .foot_area {
		box-sizing : border-box;
		padding : 0 20px 90px;
	}
	footer .foot_area h2 {
		padding-top : 30px;
		font-size : 14px;
	}
	footer .foot_area .addr {
		line-height : 1.3;
		font-size : 14px;
		color : #767676;
	}
	footer .foot_area .copy {
		padding : 3px 0 20px;
		font-size : 14px;
		color : #767676;
	}
	footer .gubun { color : #fff; }
	footer .br_line { display : block; }
	footer .foot_area .snslink {
		position : static;
		width : 210px;
		margin : 10px auto 90px;
	}
	footer .foot_area .snslink li {
		margin-left : 30px;
	}
	footer .foot_area .snslink li:first-child {
		margin-left : 0;
	}
	/* 팝업 (모바일) */
	.popup_base .pop_content {
		position : relative;
		width : 90%;
		margin : 100px auto 0;
	}
	.pop_content .btn_xpop {
		top : -40px;
	}
	.pop_content .btn_xpop a {
		display : block;
		width : 30px;
		height : 30px;
		background-size : 30px;
	}
}