@charset "UTF-8";
* {
	margin : 0;
	padding : 0;
}
ul {
	list-style : none;
}
body {
	font-family : 나눔고딕, sans-serif;
}
a:link, a:visited {
	/* color : #fff; */
	text-decoration : none;
}
a:hover, a:active {
	color : #f00;
	text-decoration : none;
}
#wrapper {
	width : 1800px;
	margin : 0 auto;
}
/* 헤더 영역 시작 */
#header {
	height : 160px;
	background-color : #4f4f4f;
	position : relative;
}
#lLink {
	position : absolute;
	top : 20px;
	left : 10px;
}
#lLink li {
	display : inline-block;
	padding-right : 10px;
}
#snsLink {
	position : absolute;
	top : 20px;
	right : 10px;
}
#snsLink li {
	display : inline-block;
}
#snsLink img {
	width : 35px;
}
#nav {
	width : 1800px;
	height : 100px;
	position : absolute;
	top : 60px;
	left : 0;
	background-color : #282828;
}
#nav h1 {
	position : absolute;
	top : 20px;
	left : 0;
	width : 177px;
	height : 59px;
}
/* 메인메뉴 */
.mainMenu {
	width : 1400px;
	height : 60px;
	border : 1px dashed yellow;
	position : relative;
	top : 20px;
	left : 200px;
	text-align : center;
}
.mainMenu li {
	display : inline-block;
	padding : 17px 20px;
}
.mainMenu li a {
	font-family : HY견고딕, sans-serif;
	font-size : 20px;
	color : #fff;
}
.search {
	position : absolute;
	bottom : 20px;
	right : 20px;
}